
@model LoadViewModel



@Html.Hidden("CurrentBook", Model.bookList.CurrentBook)
@Html.Hidden("CurrentChapter", Model.bookList.CurrentChapter)

@Html.Partial("_bookNavigator", Model.bookList)


<div class="row" style="margin-top:40px;">
    <div class="text-center">
        <audio controls="controls" preload="none">
            <source src="@Model.FullPath" type="audio/mpeg" />
            Only mp3 format is supported. You browser does not support this file type.
        </audio>
    </div>
    <div class="text-center">
            @Model.FileSize.ToString()
    </div>
</div>

<h1 class="text-center">@Model.Book @Model.Chapter</h1>

<div id="ajaxLoadingDiv" class="text-center" style="display:none;">
    <img src="~/Images/loadingGif.gif" />
</div>

<div id="textLoadDiv">
    @if (Model.IsIncludeText)
    {
        @Html.Partial("_LoadText", Model.Text)
    }
</div>

