@model LoadViewModel

@{
    ViewBag.Title = "Load";
}

<h2 class="text-center">@Model.Book @Model.Chapter</h2>

@{
    var path = string.Format("{0}{1}/{2}_{3}.mp3", Model.FilePath, Model.BookFolderName, Model.Book, Model.Chapter);
}

@Html.Hidden("CurrentBook", Model.Book)
@Html.Hidden("CurrentChapter", Model.Chapter)

    @Html.Partial("_bookNavigator", Model.bookList)

    <div class="row" style="margin-top:40px;">
        <div class="text-center">
            <audio controls="controls" preload="none">
                <source src="@path" type="audio/mpeg" />
            </audio>
        </div>
    </div>

@Html.Raw(Model.EsvHTML)

<div style="margin-top:60px; font-size:11px;">
    @Html.Raw(Model.Copyright)
</div>
@Html.Raw(Model.FUMsData)

